configuration {
    show-icons: true;
    drun-icon-theme: "Arc";
    font: "Terminus 40";
}
@theme "solarized"
/*
window {
    transparency: "real";
    fullscreen: true;
    background-color: @background;
    border:           1;
    padding:          5;
}
mainbox {
    border:  0;
    padding: 30% 30%;
}
message {
    border:       1px dash 0px 0px ;
    border-color: @separatorcolor;
    padding:      2px ;
}
*/
/* vim:ft=css
